/* _content/Group3Flight/Areas/Admin/Views/Shared/_AdminLayout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ryyx3dfpi0] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ryyx3dfpi0] {
  color: #0077cc;
}

.btn-primary[b-ryyx3dfpi0] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ryyx3dfpi0], .nav-pills .show > .nav-link[b-ryyx3dfpi0] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ryyx3dfpi0] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ryyx3dfpi0] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ryyx3dfpi0] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ryyx3dfpi0] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ryyx3dfpi0] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Group3Flight/Areas/Airlines/Views/Shared/_AirlinesLayout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-v0azcahkbs] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-v0azcahkbs] {
  color: #0077cc;
}

.btn-primary[b-v0azcahkbs] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-v0azcahkbs], .nav-pills .show > .nav-link[b-v0azcahkbs] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-v0azcahkbs] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-v0azcahkbs] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-v0azcahkbs] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-v0azcahkbs] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-v0azcahkbs] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Group3Flight/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-5k224i6642] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-5k224i6642] {
  color: #0077cc;
}

.btn-primary[b-5k224i6642] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-5k224i6642], .nav-pills .show > .nav-link[b-5k224i6642] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-5k224i6642] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-5k224i6642] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-5k224i6642] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-5k224i6642] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-5k224i6642] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Group3Flight/Views/Shared/_MainLayout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-85rmzwr1su] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-85rmzwr1su] {
  color: #0077cc;
}

.btn-primary[b-85rmzwr1su] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-85rmzwr1su], .nav-pills .show > .nav-link[b-85rmzwr1su] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-85rmzwr1su] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-85rmzwr1su] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-85rmzwr1su] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-85rmzwr1su] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-85rmzwr1su] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
